    /* :ROOT */
:root {
  --player-height: 90px;
  --sidebar-width: 80px;
  --main-content-header-height: 80px;
}
    
    
    /* RESET */

* {
    box-sizing: border-box; /* Include il padding e i bordi nelle dimensioni degli elementi */
    margin: 0; /* Rimuove i margini predefiniti */
    padding: 0; /* Rimuove il padding predefinito */

  }

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #141922;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}


    /* UTILITY */

.debug,
.debug * {
  min-height: 50px;
  padding: 5px;
  background-color: #ff000022;
  border: 2px dashed red;
}

.container {
    max-width: 1100px; /* Larghezza massima */
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .hidden {
    display: none;
  }

/* LAYOUT */
.wrapper {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#top-content {
  height: calc(100vh - var(--player-height));
  display: flex;
}

#player {
  height: var(--player-height);
  background-color: #282828;
}

#sidebar {
  width: var(--sidebar-width);
  background-color: black;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  overflow: auto;
}

#main-content {
  width: calc(100% - var(--sidebar-width));
}

#main-content-header {
  height: var(--main-content-header-height);
  background-color: rgba(0, 0, 0, 0.5);
}

#content {
  height: calc(100vh - var(--player-height) - var(--main-content-header-height));
  overflow: auto;
}


/* SIDEBAR */
#sidebar {
  color: #717171;
}

#sidebar .home, 
#sidebar .playlist h4 {
  color: white;
}

#sidebar img {
  height: 40px;
  width: 40px;

  vertical-align: middle;
}

#sidebar .sidebar-user .download img {
  height: 30px;
  width: 30px;
}

#sidebar .sidebar-menu div {
  margin: 10px 0;
}

#sidebar .sidebar-user div {
  margin: 20px 0;
  padding: 5px;
}

#sidebar .user-account img {
  border: 1px solid #a3a3a3;
  border-radius: 50%;
  background-color: #a3a3a3;
}




      /* @MEDIA SCREEN */

@media screen and (min-width: 576px) {
  :root {
    --sidebar-width: 250px
  }

         /* sidebar */
#sidebar {
  align-items: flex-start;
}
#sidebar .hidden {
  display: inline;

  width: 150px;
  margin: 20px 0;
}

#sidebar .hidden-logo {
  display: none;

  padding-left: 10px;
}

#sidebar .sidebar-menu .home {
  border-left: 5px solid #A2EF2C;
}

#sidebar i {
  font-size: 25px;
  border: 1px solid #a3a3a3;
  background-color: #a3a3a3;
  color: black;
  padding: 10px;
}

#sidebar li {
  margin: 20px 0;
}

#sidebar .sidebar-user .download {
  border-bottom: 1px solid #a3a3a3;
}

#sidebar .sidebar-menu div,
#sidebar .sidebar-menu h4,
#sidebar .sidebar-menu ul {
  padding: 0 20px;
}

#sidebar .sidebar-user div {
margin: 20px;
}

}


@media screen and (min-width: 768px) {
  :root {

  }
}

@media screen and (min-width: 992px) {
  :root {

  }
}